<?xml version="1.0"?>

<robot name="mmrobot" xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <xacro:arg name="mu1" default="0.7" />
  <xacro:arg name="mu2" default="0.98" />
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <!-- <xacro:include filename="$(find plug_description)/urdf/wheelbase.urdf.xacro" />
  <xacro:wheeler_base_macro>
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)"/>
    <xacro:property name="friction_k" value="$(arg mu1)"/>
    <xacro:property name="friction_s" value="$(arg mu2)"/>
    <xacro:property name="base_z" value="0.125" />
    <xacro:property name="bumper_z" value="0.175" />
  </xacro:wheeler_base_macro> -->

  <link name="world"/>

  <!--iiwa14-->
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
  <!-- <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="link_base"> -->
  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <!-- <origin xyz="0 0 0.125" rpy="0 0 0" /> -->
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)"/>
  </xacro:iiwa14>

  <!--plug-->
  <xacro:include filename="$(find plug_description)/urdf/plug.urdf.xacro"/>
  <xacro:plug parent="iiwa_link_ee">
    <origin xyz="-0.011 -0.011 0.005" rpy="0 0 ${M_PI/2}" />
  </xacro:plug>

  <!--camera-->
  <xacro:include filename="$(find plug_description)/urdf/camera.urdf.xacro"/>
  <xacro:rpi parent="iiwa_link_ee">
    <origin xyz="-0.015 0 0.062" rpy="0 ${-M_PI/2} 0" />
  </xacro:rpi>

  <!--RGB-D camera, look forward-->
  <!-- <xacro:include filename="$(find plug_description)/urdf/realsense.urdf.xacro" />
  <xacro:realsense_macro parent="link_fbumper">
    <origin xyz="0.0608 0 0.07" rpy="0 0 0" />
    <xacro:property name="camera_width" value="640" />
    <xacro:property name="camera_height" value="480" />
    <xacro:property name="camera_name" value="rs435" />
  </xacro:realsense_macro> -->

</robot>
